.tour-head{
    background-image: url(/images/title-backgrounds/land-cruiser.jpeg);
    color: #F8f8f0;
}

.tour-head summary {
    color:#eeb01f;
  }


/* GEN START */
.cart {
    display: inline-block;
    background-image: url(/images/icons/cart-shopping-solid.svg);
    background-size: contain;
    height: 3rem;
    width: 3rem;
    background-repeat: no-repeat;
}

.back {
    display: inline-block;
    background-image: url(/images/icons/chevron-left-solid.svg);
    background-size: contain;
    height: 2rem;
    width: 2rem;
    background-repeat: no-repeat;
}

a {
    font-size: 2rem;
}

a:visited {
    color: #F8f8f0;
}

h1 {
    font-size: 10rem;
    margin: 0;
}

h3 {
    font-size: 4rem;
    margin: 0;
}

h2 {
    font-size: 5rem;
}

h6 {
    font-size: 1rem;
    margin: 0;
}

p {
    font-size: 2rem;
}

button {
    width: 25rem;
    height:5rem;
    font-size: 2rem;
    color: #f8f8f0;
    background-color: #eeb01f;
}

.icons {
    display: flex;
    justify-content: flex-end;
    width: 95vw;
    margin-top: 1rem;
}

/* GEN END */