  @import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');

.wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

body {
    background-color: #5b9767;
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
}

/* GEN START */
p {
    font-size: 2em;
    font-family: 'Oxygen', sans-serif;
    line-height: 2em;
}

h1 {
    font-size: 5em;
    margin:0;
}

h2 {
    font-size: 5em;
}

h3 {
    font-size: 2em;
    margin:0;
}

h4 {
    font-size: 3em;
    margin: .5em;
}

h5 {
    font-size: 1.5em;
    margin: 0;
}
ul, li, a, h6 {
    font-family: 'Oxygen', sans-serif;
    line-height: 2em;
}

h2, h3, h4, h5, label, button {
    font-family: 'Londrina Solid', sans-serif;
}

.item label {
    font-family: 'Oxygen', sans-serif;
}

.cart {
    display: inline-block;
    background-image: url(/images/icons/cart-shopping-solid.svg);
    background-size: contain;
    height: 5rem;
    width: 5rem;
    background-repeat: no-repeat;
}

.back {
    display: inline-block;
    background-image: url(/images/icons/chevron-left-solid.svg);
    background-size: contain;
    height: 5rem;
    width: 5rem;
    background-repeat: no-repeat;
}

button {
    width: 25rem;
    height: 5rem;
    font-size: 2rem;
    color: #f8f8f0;
    background-color: #eeb01f;
}

button:hover {
    background-color: #c4c896;
}

button:active {
    background-color: #236154;
}

.icons {
    width: 100%;
    margin-top: 2em;
}

ul {
    list-style: none;
}

.head {
    color: #F8f8f0;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 60vh;
    text-align: center;
}

/* GEN END */

.trans-back {
    background-color: #14183bda;
    border: 3px solid #236154;
    width: 80vw;
    color: #f8f8f0;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
}

.nav-head {
    background-image: url(/images/title-backgrounds/home.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #f8f8f0;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.nav-head .trans-back {
    font-size: 2em;
}

.nav-head a {
    color: #f8f8f0;
}

.nav-head a:visited {
    color: #f8f8f0;
}

.row {
    display: flex;
    flex-flow: row wrap;
}

.home-txt {
    width: 40%;
}

.home-txt button {
    margin: 3em 0 3em 0;
}

img {
    height: 35rem;
}

.breaks {
    width: 80vw;
    height: 8vh;
    padding: 0 2em 0 2em;
    text-align: center;
    background-color: #14183b;
    background-size: cover;
    color: #f8f8f0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #14183b;
}

footer {
    background-color: #14183b;
    color: #f8f8f0;
    margin-top: 1.5em;
    padding: 2em 0 1em 1.5em;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    box-sizing: border-box;
}

footer ul {
    font-size: 1rem;
    margin: 0;
}

footer p {
    font-size: 1rem;
    margin: 0;
}

footer h6 {
    font-size: 1rem;
    margin: 0;
}

.tour-head {
    background-image: url(/images/title-backgrounds/land-cruiser.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.log-head {
    background-image: url(/images/title-backgrounds/log-ride.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.cab-head {
    background-image: url(/images/title-backgrounds/caboose-cut-thru.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.cruise-head {
    background-image: url(/images/title-backgrounds/cruise.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.feed-head {
    background-image: url(/images/title-backgrounds/dino-feeding.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.heli-head {
    background-image: url(/images/title-backgrounds/helicopter-tour.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.dome-head {
    background-image: url(/images/title-backgrounds/pterodactyl-dome.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.coaster-head {
    background-image: url(/images/title-backgrounds/raptor-runner.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.tour-head .trans-back {
    height: 40vh;
}

summary {
    color: #eeb01f;
    font-size: 2em;
    font-family: "Oxygen", sans-serif;
}

.landing-main {
    margin: 2em;
    background-color: #c4c896;
    width: 60%;
    padding: 2em;
    border: 5px solid #c29b64;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    color: #14183b;
}

.landing-txt {
    width: 60%;
    margin-right: .5em;
}

.landing-txt p {
    font-size: 2.5em;
    line-height: 2em;
}

.lb1 {
    background-color: #7db8c8;
    color: #14183b;
    border: 3px solid #7db8c8;
}

.lb-body-1 {
    margin: 2em;
    width: 60%;
    background-color: #c4c896;
    padding: 2em;
    border: 5px solid #c29b64;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    color: #14183b;
}

.lb-body-1 a:visited {
    color: #14183b;
}

.lb2 {
    background-color: #5c443a;
    color: #d7d3d6;
    border: 3px solid #5c443a;
}

.lb-body-2 {
    background-color: #c4c896;
    padding: 2em;
    border: 5px solid #c29b64;
    text-align: center;
}

.route {
    width: 60%;
    text-align: left;
}

.route p {
    line-height: 2em;
}

.booking {
    background-color: #7db8c8;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding: 2em;
    border: 5px solid #7db8c8;
    height: 30vh;
    margin: 4em;
    font-size: 1.5em;
}

.booking button {
    height: 8vh;
    width: 15vw;
    margin: 1em;
    font-size: 1.5em;
}

.cruise-buttons {
    width: 100%;
    display: flex wrap;
    justify-content: space-around;
}

.cal-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: #c4c896;
    margin: 5em;
    width: 90%;
    font-size: 2em;
    line-height: 2em;
    border: 3px solid #7db8c8;
}

.itin-head {
    background-color: #5c443a;
}


.item {
    border: 3px solid #14183b;
    background-color: #d7d3d6;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 1.5em;
    width: 80rem;
    margin: 1em;
}

.item-info {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

.item img {
    width: 20%;
    height: 99%;
}

.item select {
    width: 90%;
    height: 50%;
    font-size: .8em;
}

.checkbox {
    width: 5rem;
}

.check-end {
    display: flex;
    justify-content: center;
    margin: 2em;
}

.checkout-head {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: #c4c896;
    text-align: center;
    color: #14183b;
}

.checkout-head h1 {
    font-size: 9em;
}

.checkout-body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.checkout-body a:visited {
    color: #9e1d21;
}

.checkout-body a{
    color: #9e1d21;
}

.step-1,
.checkout-base {
    width: 60%;
}

.step-1 p {
    font-size: 1.5em;
}

.inputs {
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
    justify-content: space-between;
    height: 15rem;
}

.checkout-base {
    margin-bottom: 1em;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

}

.checkout-body {
    background-color: #b2a696;
    border: 3px solid #c4c896;
    width: 80%;
    padding: 2em;
}

.checkout-base p,
a,
label {
    font-size: 2rem;
}

.checkout-base a {
    color: #14183b;
}

.inputs {
    background-color: #eeb01f;
    padding: 1em;
    margin: 1em;
}

.inputs input {
    height: 3rem;
    font-size: 1.5rem;
}

.step-1 input {
    height: 3rem;
    font-size: 1.5rem;
}

.name {
    width: 48%;
}

.terms-head {
    text-align: center;
    background-color: #9e1d21;
}

.terms-body {
    font-size: 1rem;
    line-height: 1rem;
    margin: 3em;
    background-color: #b2a696;
    border: 3px solid #9e1d21;
}

.terms-body ul {
    font-size: 1rem;

}

.congrats-button {
    display: flex;
    justify-content: space-around;
    margin: 3em;
}

.checkout-finish {
    width: 60%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.congrats-base {
    margin: 3em;
    width: 50%;
    text-align: center;
}

.staff-head {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: #14183b;
}

.staff-main1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em;
    width: 60vw;
}

.main-txt {
    width: 60%;
    background-color: #c4c896;
    padding: 2em;
    border: 3px solid #7db8c8;
}

.cards {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 30rem;
    border: 3px solid #c4c896;
    background-color: #c29b64;
    padding: 1em;
}

.cards a:visited {
    color: #14183b;
}

.card-sec {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 50%;
}

.contact {
    text-align: center;
    margin: 3em 1em 1em 3em;
    background-color: #c4c896;
    width: 40vw;
    border: 3px solid #7db8c8;
    padding: 1em;
}

.card-sec2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 80%;
}

@media only screen and (max-width: 640px) {
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
    }

    h3, h4, h5, h6 {
        font-size: 1em;
    }

    p {
        font-size: .5em;
    }

    .trans-back {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
