.nav-head {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-image: url(/images/title-backgrounds/home.jpg);
    height:100rem;
    background-repeat: no-repeat;
    background-size: cover;
    color: #f8f8f0;
    text-align: center;
}

.directory {
    display: flex;
    flex-flow:column;
    align-items: center;
    color: #f8f8f0;
}

.trans-back {
    display: flex;
    justify-content: space-between;
    background-color: #14183bda;
    width: 100rem;
    height: 35rem;
    padding-left: 2em;
}

.home-img img { 
    height: 35rem;
}

.nav-head .trans-back {
    width: 100rem;
    height: 70rem;
    display: flex;
    flex-flow: column nowrap;
}

.breaks {
    background-color: #14183b;
    background-size: cover;
    height: 6rem;

}

footer {
    background-color: #14183b;
    color: #f8f8f0;
    padding: 1em;
}